POSTGRES_USER_DEV="<>"
POSTGRES_PASSWORD_DEV="<>"
POSTGRES_DB_DEV="<>"

DATABASE_URL="<>"

TOKEN_SECRET="<>"

ACCESS_SECRET="<>"
ACCESS_EXPIRES="<>m"

REFRESH_SECRET="<>"
REFRESH_EXPIRES="<>d"

GOOGLE_CLIENT_ID="<>"
GOOGLE_CLIENT_SECRET="<>"
GOOGLE_CALLBACK_URL="<>"